.container {
  width: 80%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  margin: 50px auto;
  gap: 20px;
}

@media (max-width: 1100px) {
  .container {
    width: 95%;
  }
}
@media (max-width: 900px) {
  .container {
    flex-direction: column;
  }
}

.items {
  border: 1px solid #e72929;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.items .item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 15px 30px 15px 20px;
  border-bottom: 1px solid #e72929;
}

.items .item div:not(:first-child) {
  flex-basis: 18%;
}

.items .item:last-child {
  border-bottom: none;
}

.items .item img {
  width: 6rem;
  height: 6rem;
  object-fit: fill;
  border-radius: 10rem;
}

.items .item .quantity select {
  outline: none;
  border: none;
  font-size: 1.3rem;
  cursor: pointer;
}

.items .item .price {
  font-size: 1.8rem;
}

.items .item .remove-button button {
  color: #e72929;
  background-color: lightgray;
  padding: 0.5rem 0.8rem;
  border: none;
  border-radius: 0.5rem;
  opacity: 0.8;
}

.items .item .remove-button button:hover {
  opacity: 1;
  cursor: pointer;
}
.total {
  border: 3px solid #e72929;
  border-radius: 10px;
  height: 250px;
  width: 250px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px;
  font-size: 1.3rem;
  font-weight: 600;
}

.total div::before {
  content: "Count: ";
  color: lightgray;
}

@media (max-width: 600px) {
  .items {
    width: 80%;
    margin: auto;
  }

  .items .item {
    flex-direction: column;
  }

  .items .item .name {
    margin-top: 20px;
    font-size: 1.2rem;
    margin-bottom: 15px;
  }

  .items .item .quantity select {
    margin-bottom: 30px;
  }
  .items .item .quantity::before {
    content: "Quantity: ";
    color: gray;
  }

  .items .item .price {
    margin-bottom: 15px;
  }

  .total {
    margin: auto;
    width: 80%;
  }
}
